        *{margin: 0; padding: 0;}
       
        .box{height: 80px; width: 80px;
            border: 5px rgb(58, 5, 98) double; margin: 5px;
        }
        #box1{background-color: aquamarine;}
        #box2{background-color: tomato;}
        #box3{background-color: whitesmoke;}
        #box4{background-color:teal ;}
        #container{
            height: 700px; width: 750px;
            padding: 10px; margin: 15px;
            background-color: wheat;
            border: 3px solid black;
            display: flex;

            flex-direction: row;
        }